{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Publications du Blog de Batman</h1>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 offset-md-2">

                <div class="row">
                    <p class="col-12 text-center">Nombre total d'articles : {{ articles|length }}</p>
                </div>

                {% for article in articles %}

                    <div class="row">
                        {# Un article #}
                        <div class="col-12">

                            <div class="card my-3 bg-black">

                                <div class="card-header">
                                    <a class="text-decoration-none" href="{{ path('blog_publication_view', {'slug': article.slug}) }}"><i class="far fa-newspaper me-2"></i>{{ article.title }}</a>
                                </div>

                                <div class="card-body">

                                    <div class="mb-2">
                                        {{ article.content|striptags|slice(0, 150) }}...
                                        <a class="text-decoration-none" href="{{ path('blog_publication_view', {'slug': article.slug}) }}">Lire la suite</a>
                                    </div>

                                    <footer class="blockquote-footer my-2">Publié le <strong>{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                                </div>

                            </div>

                        </div>
                    </div>

                {% else %}

                    <div class="row">
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                    </div>

                {% endfor %}


            </div>

        </div>

    </div>

{% endblock %}

